{% extends "main.html" %}
{% block content %}

<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('/static/images/breadcrumb-area-bg.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>500 Internal Server Error</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li><li class="breadcrumb-item">500 - Server Error</li>                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 
        
    
    
    <!--Start Error Page Area-->
    <section class="error-page-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="error-content text-center">
                        <div class="big-title wow fadeInDown animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInDown;">
                            <h2>
                            	Oh...ho...                            </h2>
                        </div>
                        <div class="title wow fadeInDown animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInDown;">
                            <h2>
                            											Sorry, Something Went Wrong.                                                            </h2>
                        </div>
                        <div class="text">
                            <p>
                            											There was an internal server error.                                                           </p>
                        </div>
						                        <div class="error-page-search-box">
                            <!-- <form class="search-form" action="/">
                                <input name="s" value="" placeholder="Search ..." type="text">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form> -->
                        </div>
                                                                        <div class="btns-box wow slideInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: slideInUp;">                            
                            <a href="/" class="btn-one">
                                <span class="txt">Back to Home<i class="icon-refresh arrow"></i></span>
                            </a>
                        </div>
						                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Error Page Area-->    
        

	<div class="clearfix"></div>

{% endblock %}
	
