{% extends "main.html" %}
{% block content %}
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('/static/images/breadcrumb-area-bg.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>About Us</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li><li class="breadcrumb-item">About Us</li>                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 
        
			<div data-elementor-type="wp-page" data-elementor-id="381" class="elementor elementor-381">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-4d145fd elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4d145fd" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-72d2154" data-id="72d2154" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3897c40 elementor-widget elementor-widget-finbank_about_us" data-id="3897c40" data-element_type="widget" data-widget_type="finbank_about_us.default">
				<div class="elementor-widget-container">
				
    <!--Start Intro Style1 Area-->
    <section class="intro-style1-area" id="about">
        <div class="container">
            <div class="row">

                <div class="col-xl-6">
                    <div class="intro-style1-video-gallery">
                                                <div class="intro-style1-video-gallery-bg" style="background-image: url(/static/images/intro-style1-video-gallery.jpg);"></div>
                                                                        <div class="intro-video-gallery-style1">
                            <div class="icon wow zoomIn animated animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: zoomIn;">
                                <a class="video-popup" title="Video Gallery" href="https://www.youtube.com/watch?v=06dV9txztKY">
                                    <span class="icon-play-button-1"></span>
                                </a>
                            </div>
                        </div>
                                            </div>
                </div>

                <div class="col-xl-6">
                    <div class="intro-style1-content-box">
                                                <div class="sec-title">
                            <h2>Known for Trust,<br> Honesty &amp; Customer<br> Support</h2>
                        </div>
                                                                        <div class="text">
                            <p>Belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.</p> 
<p>Choice is untrammelled and when nothing prevents our being able to do what we like best every pleasure is to be welcomed. </p>                        </div>
						                        <div class="row">
                                                        <!--Start Intro Style1 Single Box-->
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="intro-style1-single-box">
                                    <div class="img-box">
                                                                                <div class="img-box-inner">
                                            <img decoding="async" src="/static/images/intro-style1-1.jpg" alt="Awesome Image">
                                        </div>
                                                                                                                        <div class="overlay-text">
                                            <h3>Our Journey</h3>
                                        </div>
                                                                            </div>
                                                                        <div class="title-box">
                                        <h3><a href="/accounts">For Over Four Decades Our Bank</a></h3>
                                    </div>
                                                                    </div>
                            </div>
                            <!--End Intro Style1 Single Box-->
                                                        <!--Start Intro Style1 Single Box-->
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="intro-style1-single-box">
                                    <div class="img-box">
                                                                                <div class="img-box-inner">
                                            <img decoding="async" src="/static/images/intro-style1-2.jpg" alt="Awesome Image">
                                        </div>
                                                                                                                        <div class="overlay-text">
                                            <h3>Our Team</h3>
                                        </div>
                                                                            </div>
                                                                        <div class="title-box">
                                        <h3><a href="/accounts">Passion &amp; Professional Management</a></h3>
                                    </div>
                                                                    </div>
                            </div>
                            <!--End Intro Style1 Single Box-->
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Intro Style1 Area-->
        
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-743d87a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="743d87a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f673816" data-id="f673816" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e3846ba elementor-widget elementor-widget-finbank_why_choose_us" data-id="e3846ba" data-element_type="widget" data-widget_type="finbank_why_choose_us.default">
				<div class="elementor-widget-container">
				
    <!--Start Choose Style1 Area-->
    <section class="choose-style1-area">
        <div class="container">
            <ul class="row choose-style1__content">
				                <!--Start Single Choose Style1-->
                <li class="col-xl-4 col-lg-4 single-choose-style1-colum text-center">
                    <div class="single-choose-style1">
                        <div class="icon">
                                                        <div class="icon-inner">
                                <span class="icon- icon-crowd"></span>
                            </div>
                                                        <div class="counting">01</div>
                        </div>
                        <div class="text">
                            <h3>Community</h3>
                            <p>Must explain to you how work mistaken give you complete guide they cannot foresee pain.</p>
                        </div>
                    </div>
                </li>
                <!--End Single Choose Style1-->
				                <!--Start Single Choose Style1-->
                <li class="col-xl-4 col-lg-4 single-choose-style1-colum text-center">
                    <div class="single-choose-style1">
                        <div class="icon">
                                                        <div class="icon-inner">
                                <span class="icon- icon-commitment"></span>
                            </div>
                                                        <div class="counting">02</div>
                        </div>
                        <div class="text">
                            <h3>Commitment</h3>
                            <p>Business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
                        </div>
                    </div>
                </li>
                <!--End Single Choose Style1-->
				                <!--Start Single Choose Style1-->
                <li class="col-xl-4 col-lg-4 single-choose-style1-colum text-center">
                    <div class="single-choose-style1">
                        <div class="icon">
                                                        <div class="icon-inner">
                                <span class="icon- icon-consistency"></span>
                            </div>
                                                        <div class="counting">03</div>
                        </div>
                        <div class="text">
                            <h3>Consistency</h3>
                            <p>Being able to do what we like best every pleasure is to be welcomed and pain avoided but in certain.</p>
                        </div>
                    </div>
                </li>
                <!--End Single Choose Style1-->
				            </ul>
        </div>
    </section>
    <!--End Choose Style1 Area-->        
                         
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-be717f5 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="be717f5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b26de7e" data-id="b26de7e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6f1e4d1 elementor-widget elementor-widget-finbank_mission_statement" data-id="6f1e4d1" data-element_type="widget" data-widget_type="finbank_mission_statement.default">
				<div class="elementor-widget-container">
				
    <!--Start Statements Area-->
    <section class="statements-area">
        <div class="container">
            <div class="row">

                <div class="col-xl-6">
                    <div class="statements-content-box">
                        <ul>
                            <li>
                                <div class="single-statements-box">
                                    <div class="img-box">
                                                                                <img decoding="async" src="/static/images/statements-1.jpg" alt="Awesome Image">
                                                                                <div class="static-content">
                                            <h2>Mission</h2>
                                        </div>
                                        <div class="overlay-content">M</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                            	                                <div class="single-statements-box">
                                    <div class="img-box">
                                                                                <img decoding="async" src="/static/images/statements-2.jpg" alt="Awesome Image">
                                                                                                                        <div class="static-content">
                                            <h2>Vision</h2>
                                        </div>
                                                                                <div class="overlay-content">V</div>
                                    </div>
                                </div>
                                                                <div class="single-statements-box">
                                    <div class="img-box">
                                                                                <img decoding="async" src="/static/images/statements-3.jpg" alt="Awesome Image">
                                                                                                                        <div class="static-content">
                                            <h2>Core Value</h2>
                                        </div>
                                                                                <div class="overlay-content">C</div>
                                    </div>
                                </div>
                                                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="statements-text-box">
                                                <div class="shape">
                            <span class="icon-origami"></span>
                        </div>
                        <div class="inner-title">
                            <h2>A Great<br> Mission Statement</h2>
                        </div>
                                                <div class="text">
                            <p>Obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man always holds these matters to this principle of selection rejects pleasures to secure other greater pleasures.</p>                                                        <div class="btn-box">
                                <a href="/about"><span class="icon-right-arrow"></span>Read More</a>
                            </div>
                                                    </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Statements Area-->
        
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-9d92ebb elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="9d92ebb" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4a6efa2" data-id="4a6efa2" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-f9ac9ed elementor-widget elementor-widget-finbank_interesting_numbers" data-id="f9ac9ed" data-element_type="widget" data-widget_type="finbank_interesting_numbers.default">
				<div class="elementor-widget-container">
				
    <!--Start Facts Area-->
    <section class="facts-area">
                <div class="facts-area-bg" style="background-image: url(/static/images/facts-area-bg.jpg);"></div>
                <div class="container">
                        <div class="sec-title text-center">
                <h2>Few Interesting Numbers</h2>				                <div class="sub-title">
                    <p>Numbers that speak about banking service.</p>
                </div>
                            </div>
                        <div class="row">
                                <!--Start Single Fact Box-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-fact-box">
                        <div class="icon">
                            <span class="icon-bank"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>                        </div>
                        <div class="text">
                            <h3>Our Network</h3>
                            <p>86 Branches around the country</p>
                        </div>
                    </div>
                </div>
                <!--End Single Fact Box-->
				                <!--Start Single Fact Box-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-fact-box">
                        <div class="icon">
                            <span class="icon-expert"><span class="path1"></span><span class="path2"></span></span>                        </div>
                        <div class="text">
                            <h3>Customers</h3>
                            <p>More than 1.5 illion customers</p>
                        </div>
                    </div>
                </div>
                <!--End Single Fact Box-->
				                <!--Start Single Fact Box-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-fact-box">
                        <div class="icon">
                            <span class="icon-human"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span></span>                        </div>
                        <div class="text">
                            <h3>Employee</h3>
                            <p>1.6k professional employees</p>
                        </div>
                    </div>
                </div>
                <!--End Single Fact Box-->
				                <!--Start Single Fact Box-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-fact-box">
                        <div class="icon">
                            <span class="icon-money-bag"><span class="path1"></span><span class="path2"></span></span>                        </div>
                        <div class="text">
                            <h3>Loans Disbursed</h3>
                            <p>45.6 Cr loans for 258 customers</p>
                        </div>
                    </div>
                </div>
                <!--End Single Fact Box-->
				            </div>
        </div>
    </section>
    <!--End Facts Area-->
      
                 
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-235c8fe elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="235c8fe" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2e69d74" data-id="2e69d74" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-f4663c7 elementor-widget elementor-widget-finbank_statistics_area_v2" data-id="f4663c7" data-element_type="widget" data-widget_type="finbank_statistics_area_v2.default">
				<div class="elementor-widget-container">
				
    <!--Start Statistics Area-->
    <section class="statistics-area">
        <div class="container">
            <div class="row">

                <div class="col-xl-6">
                    <div class="statistics-content-box">
                                                <div class="sec-title">
                            <h2>Better Value<br> Banking Experience</h2>
                        </div>
                                                                        <div class="text">
                            <p>Business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds these matters to this principle of selection.</p>
                        </div>
                                                <div class="download-box">
                                                        <div class="icon">
                                <span class="icon-pdf"></span>
                            </div>
                            <div class="title">
                                                                <h5><a href="/contact">Download</a></h5>
                                                                <h3>Report for the Year 2021</h3>                            </div>
                                                    </div>
                    </div>
                </div>
                                <div class="col-xl-6">
                    <div class="statistics-chart">
                        <img decoding="async" src="/static/images/statistics-chart.png" alt="Awesome Image">
                    </div>
                </div>
                            </div>
        </div>
    </section>
    <!--End Statistics Area-->
        
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-04bd493 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="04bd493" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5ee6d5b" data-id="5ee6d5b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-84cabee elementor-widget elementor-widget-finbank_awards_and_achivements" data-id="84cabee" data-element_type="widget" data-widget_type="finbank_awards_and_achivements.default">
				<div class="elementor-widget-container">
				
    <!--Start Awards Achivements Area-->
    <section class="awards-achivements-area" style="background-color: #f7f1eb;">
        <div class="container">
                        <div class="sec-title text-center">
                <h2>Awards &amp; Major Achievements</h2>				                <div class="sub-title">
                    <p>Outstanding performance and achievements.</p>
                </div>
                            </div>
                        <div class="row">
                <div class="col-xl-4">
                    <div class="awards-achivements-left-box">
                                                <!--Start single awards achivements box -->
                        <div class="single-awards-achivements-box">
                            <div class="top">
                                                                <div class="icon">
                                    <img decoding="async" src="/static/images/award-1.png" alt="Awesome Image">
                                </div>
                                                                <div class="inner-title">
                                    <h3>Bank of the Year<br> Europe</h3>
                                </div>
                            </div>
                            							<ul>
																   <li><span>Year</span><b>:</b> 2020-2021</li>
																   <li><span>Award by</span><b>:</b> Los Vegas Business Time</li>
															</ul>
							                        </div>
                        <!--End single awards achivements box -->
                                                <!--Start single awards achivements box -->
                        <div class="single-awards-achivements-box">
                            <div class="top">
                                                                <div class="icon">
                                    <img decoding="async" src="/static/images/award-1.png" alt="Awesome Image">
                                </div>
                                                                <div class="inner-title">
                                    <h3>Best Private Bank <br> Award</h3>
                                </div>
                            </div>
                            							<ul>
																   <li><span>Year</span><b>:</b> 2017-2018</li>
																   <li><span>Award by</span><b>:</b> Los Vegas Business Time</li>
															</ul>
							                        </div>
                        <!--End single awards achivements box -->
                                            </div>
                </div>

                <div class="col-xl-4">
                    <div class="awards-img-box">
                                                <div class="round-box"></div>
                        <div class="shape1">
                            <img decoding="async" src="/static/images/trophy-shape-1.png" alt="Awesome Image">
                        </div>
                        <div class="shape2">
                            <img decoding="async" src="/static/images/trophy-shape-2.png" alt="Awesome Image">
                        </div>
                                                                        <div class="inner">
                            <img decoding="async" src="/static/images/trophy.png" alt="Awesome Image">
                        </div>
                                            </div>
                </div>

                <div class="col-xl-4">
                    <div class="awards-achivements-right-box">
                                                <!--Start single awards achivements box -->
                        <div class="single-awards-achivements-box">
                            <div class="top">
                                                                <div class="icon">
                                    <img decoding="async" src="/static/images/award-1.png" alt="Awesome Image">
                                </div>
                                                                <div class="inner-title">
                                    <h3>Bank of the Year<br> Europe</h3>
                                </div>
                            </div>
                            							<ul>
																   <li><span>Year</span><b>:</b> 2018-2019</li>
																   <li><span>Award by</span><b>:</b> Los Vegas Business Time</li>
															</ul>
							                        </div>
                        <!--End single awards achivements box -->
                                                <!--Start single awards achivements box -->
                        <div class="single-awards-achivements-box">
                            <div class="top">
                                                                <div class="icon">
                                    <img decoding="async" src="/static/images/award-1.png" alt="Awesome Image">
                                </div>
                                                                <div class="inner-title">
                                    <h3>Best Commercial<br> Bank Award</h3>
                                </div>
                            </div>
                            							<ul>
																   <li><span>Year</span><b>:</b> 2014-2015</li>
																   <li><span>Award by</span><b>:</b> Los Vegas Business Time</li>
															</ul>
							                        </div>
                        <!--End single awards achivements box -->
                                            </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Awards Achivements Area-->
             
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		
	<div class="clearfix"></div>
{% endblock %}

	    
 