{% extends "main.html" %}
{% block content %}
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('/static/images/breadcrumb-area-bg-3.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>All Accounts</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li><li class="breadcrumb-item">All Accounts</li>                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 
        
			<div data-elementor-type="wp-page" data-elementor-id="417" class="elementor elementor-417">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-007c30d elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="007c30d" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1eea43f" data-id="1eea43f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-152820a elementor-widget elementor-widget-finbank_saving_money" data-id="152820a" data-element_type="widget" data-widget_type="finbank_saving_money.default">
				<div class="elementor-widget-container">
					
        <!--Start Accounts Style1 Area-->
        <section class="account-style1-area" id="about">
            <div class="container">
                                <div class="sec-title text-center">
                    <h2>Let’s Think of saving Money</h2>                                        <div class="sub-title">
                        <p>Convenient banking options for you.</p>
                    </div>
                                    </div>
                                <div class="row">
                                        <!--Start Single Account Box Style1-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="single-account-box-style1">
                            <div class="img-holder">
                                <img loading="lazy" width="350" height="370" src="/static/images/account-1.jpg" class="attachment-full size-full wp-post-image" alt="" decoding="async" srcset="/static/images/account-1.jpg 350w, /static/images/account-1-284x300.jpg 284w" sizes="(max-width: 350px) 100vw, 350px">                            </div>
                            <div class="text-holder">
                                <h3><a href="">Savings Account</a></h3>
                                <p>Open account now and earn upto 8%</p>
                            </div>
                        </div>
                    </div>
                    <!--End Single Account Box Style1-->
                                        <!--Start Single Account Box Style1-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="single-account-box-style1">
                            <div class="img-holder">
                                <img width="350" height="370" src="/static/images/account-2.jpg" class="attachment-full size-full wp-post-image" alt="" decoding="async" loading="lazy" srcset="/static/images/account-2.jpg 350w, /static/images/account-2-284x300.jpg 284w" sizes="(max-width: 350px) 100vw, 350px">                            </div>
                            <div class="text-holder">
                                <h3><a href="">Current Account</a></h3>
                                <p>Open account now and earn upto 5%</p>
                            </div>
                        </div>
                    </div>
                    <!--End Single Account Box Style1-->
                                        <!--Start Single Account Box Style1-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="single-account-box-style1">
                            <div class="img-holder">
                                <img width="350" height="370" src="/static/images/account-3.jpg" class="attachment-full size-full wp-post-image" alt="" decoding="async" loading="lazy" srcset="/static/images/account-3.jpg 350w, /static/images/account-3-284x300.jpg 284w" sizes="(max-width: 350px) 100vw, 350px">                            </div>
                            <div class="text-holder">
                                <h3><a href="">Fixed Deposit Account</a></h3>
                                <p>Open account now and earn upto 10%</p>
                            </div>
                        </div>
                    </div>
                    <!--End Single Account Box Style1-->
                                    </div>
				                <div class="row">
                    <div class="col-xl-12">
                        <div class="account-style1-area_btn">
                            <a href="/accounts"><span class="icon-right-arrow"></span>View All Accounts</a>
                        </div>
                    </div>
                </div>
				            </div>
        </section>
        <!--End Accounts Style1 Area-->      
         
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-2b6047c elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="2b6047c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3a37181" data-id="3a37181" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b245779 elementor-widget elementor-widget-finbank_banking_tabs_v2" data-id="b245779" data-element_type="widget" data-widget_type="finbank_banking_tabs_v2.default">
				<div class="elementor-widget-container">
			    
    <!--Start Banking Tab Area-->
    <section class="banking-tab-area" id="services">
        <div class="auto-container">
            <div class="banking-tab">

                <!--Start Tabs Content Box-->
                <div class="tabs-content-box">
					                    <!--Tab-->
                    <div class="tab-content-box-item tab-content-box-item-active" id="1">
                                                <div class="banking-tab-content-item">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="banking-tab-img-box">
                                        <div class="banking-tab-img-box__bg" style="background-image: url('/static/images/banking-tab-1.jpg');">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="banking-tab-text-box">
                                        <div class="inner-title">
                                            <h3>Trading &amp; Demat a/c</h3>
                                            <h2>Step to Make<br> Your Dreams Possible</h2>
                                        </div>
                                        <div class="banking-tab-text-box__inner">
                                            <div class="text">
                                                <p>The claims off duty or the obligations business it will frequently pleasures repudiated to distinguish nothing.</p>
                                            </div>
                                            											<ul>
																								<li>Explorer of the master-builder
</li>
																								<li>On the other hand
</li>
																								<li>Perfectly simple &amp; easy
</li>
																								<li>Explorer of the master-builder
</li>
																								<li>On the other hand
</li>
																								<li>Perfectly simple &amp; easy</li>
																							</ul>
											                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </div>
					                                        <!--Tab-->
                    <div class="tab-content-box-item " id="2">
                                                <div class="banking-tab-content-item">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="banking-tab-img-box">
                                        <div class="banking-tab-img-box__bg" style="background-image: url('/static/images/banking-tab-2.jpg');">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="banking-tab-text-box">
                                        <div class="inner-title">
                                            <h3>Tax Savings a/c</h3>
                                            <h2>Step to Save<br> Your Taxes Money</h2>
                                        </div>
                                        <div class="banking-tab-text-box__inner">
                                            <div class="text">
                                                <p>It will frequently pleasures repudiated to distinguish nothing the claims off duty or the obligations business ...</p>
                                            </div>
                                            											<ul>
																								<li>On the other hand
</li>
																								<li>Perfectly simple &amp; easy
</li>
																								<li>Explorer of the master-builder
</li>
																								<li>On the other hand
</li>
																								<li>Explorer of the master-builder
</li>
																								<li>Perfectly simple &amp; easy</li>
																							</ul>
											                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </div>
					                                        <!--Tab-->
                    <div class="tab-content-box-item " id="3">
                                                <div class="banking-tab-content-item">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="banking-tab-img-box">
                                        <div class="banking-tab-img-box__bg" style="background-image: url('/static/images/banking-tab-3.jpg');">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="banking-tab-text-box">
                                        <div class="inner-title">
                                            <h3>Gold Savings a/c</h3>
                                            <h2>Step to Make<br> Gold Savings Money</h2>
                                        </div>
                                        <div class="banking-tab-text-box__inner">
                                            <div class="text">
                                                <p>Obligations business it will frequently pleasures repudiated to the claims off duty or the distinguish nothing.</p>
                                            </div>
                                            											<ul>
																								<li>Perfectly simple &amp; easy
</li>
																								<li>Explorer of the master-builder
</li>
																								<li>On the other hand
</li>
																								<li>Explorer of the master-builder
</li>
																								<li>On the other hand
</li>
																								<li>Perfectly simple &amp; easy</li>
																							</ul>
											                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </div>
					                                    </div>
                <!--End Tabs Content Box-->
                <!--Start Banking Tab Button-->
                <div class="banking-tab__button">
                    <ul class="tabs-button-box clearfix">
						                        <li data-tab="#1" class="tab-btn-item active-btn-item">
                            <div class="inner">
                                                                <div class="icon">
                                    <span class="icon- icon-trading"></span>
                                </div>
                                                                <div class="title">
                                    <h4>Finbank</h4>
                                    <h3>Trading &amp; Demat a/c</h3>
                                </div>
                            </div>
                        </li>
						                        <li data-tab="#2" class="tab-btn-item ">
                            <div class="inner">
                                                                <div class="icon">
                                    <span class="icon- icon-fee"></span>
                                </div>
                                                                <div class="title">
                                    <h4>Finbank</h4>
                                    <h3>Tax Savings a/c</h3>
                                </div>
                            </div>
                        </li>
						                        <li data-tab="#3" class="tab-btn-item ">
                            <div class="inner">
                                                                <div class="icon">
                                    <span class="icon- icon-gold-ingots"></span>
                                </div>
                                                                <div class="title">
                                    <h4>Finbank</h4>
                                    <h3>Gold Savings a/c</h3>
                                </div>
                            </div>
                        </li>
						                    </ul>
                </div>
                <!--End Banking Tab Button-->
            </div>
        </div>
    </section>
    <!--End Banking Tab Area-->
        
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-cbdc6cf elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="cbdc6cf" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a79b168" data-id="a79b168" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-375f462 elementor-widget elementor-widget-finbank_account_easy_steps_v2" data-id="375f462" data-element_type="widget" data-widget_type="finbank_account_easy_steps_v2.default">
				<div class="elementor-widget-container">
				
    <!--Start Account Steps Style2 Area-->
    <section class="account-steps-style2-area">
        <div class="container">
                        <div class="sec-title text-center">
                <h2>Your Account In Easy Steps</h2>                                <div class="sub-title">
                    <p>We show our value by serving faithfully.</p>
                </div>
                            </div>
                        <div class="row">
				                <!--Start Single Account Box style2-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-account-steps-box-style2 ">
                        <div class="inner">
                            <div class="step-box">
                                <h4>Step 01</h4>
                            </div>
                                                        <div class="icon-holder">
                                <span class="icon- icon-consultation"></span>
                            </div>
                                                        <h3><a href="/accounts">Consult With Our Experts</a></h3>
                            <div class="text">
                                <p>The claims off duty or the obligations business it will frequently occur.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Account Box style2-->
				                <!--Start Single Account Box style2-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-account-steps-box-style2 bg2">
                        <div class="inner">
                            <div class="step-box">
                                <h4>Step 02</h4>
                            </div>
                                                        <div class="icon-holder">
                                <span class="icon- icon-file"></span>
                            </div>
                                                        <h3><a href="/accounts">Submit Required Documents</a></h3>
                            <div class="text">
                                <p>Toil and pain cases are perfectly simple and easy to all our distinguish.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Account Box style2-->
				                <!--Start Single Account Box style2-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-account-steps-box-style2 bg3">
                        <div class="inner">
                            <div class="step-box">
                                <h4>Step 03</h4>
                            </div>
                                                        <div class="icon-holder">
                                <span class="icon- icon-file-1"></span>
                            </div>
                                                        <h3><a href="/accounts">KYC <br>Verification</a></h3>
                            <div class="text">
                                <p>Obligations business it will frequently occur the claims off duty or the.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Account Box style2-->
				                <!--Start Single Account Box style2-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-account-steps-box-style2 bg4">
                        <div class="inner">
                            <div class="step-box">
                                <h4>Step 04</h4>
                            </div>
                                                        <div class="icon-holder">
                                <span class="icon- icon-investment"></span>
                            </div>
                                                        <h3><a href="/accounts">Start Savings for Your Future</a></h3>
                            <div class="text">
                                <p>Pain cases are perfectly simple and easy to all our toil and  distinguish.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Account Box style2-->
				            </div>
        </div>
    </section>
    <!--End Account Steps Style2 Area-->  
             
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5e4a9d2 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="5e4a9d2" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b821300" data-id="b821300" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-157d9b3 elementor-widget elementor-widget-finbank_mobile_app" data-id="157d9b3" data-element_type="widget" data-widget_type="finbank_mobile_app.default">
				<div class="elementor-widget-container">
				
    <!-- Start App Download Area-->
    <section class="app-download-area">
        <div class="app-download-area-bg" style="background-image: url(/static/images/app-download-1.jpg);"></div>
        <div class="container">
                        <div class="sec-title text-center">
                <h2>Open Your Account in 5 Mins</h2>                                <div class="sub-title">
                    <p>Imaging reaching your goals faster with the help<br> of our banking tools.</p>
                </div>
                            </div>
                        <div class="row">
                <div class="col-xl-12">
                    <div class="app-download-content">
                        <p>Available for Android and IOS.</p>                        <div class="btn-box">
                            <div class="get-app-box">
                                <ul class="clearfix">
                                                                        <li>
                                        <a href="google.com">
                                            <div class="icon">
                                                <span class="icon-play-store"></span>
                                            </div>
                                            <div class="text">
                                                <h4>Download</h4>
                                            </div>
                                        </a>
                                    </li>
                                                            			                                    <li>
                                        <a class="style2" href="/contact">
                                            <div class="icon">
                                                <span class="icon-apple"></span>
                                            </div>
                                            <div class="text">
                                                <h4>Contact Us</h4>
                                            </div>
                                        </a>
                                    </li>
                                                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End App Download Area-->
             
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-73195d3 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="73195d3" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3193dac" data-id="3193dac" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4e6dde5 elementor-widget elementor-widget-finbank_our_faqs_v1" data-id="4e6dde5" data-element_type="widget" data-widget_type="finbank_our_faqs_v1.default">
				<div class="elementor-widget-container">
			    
    <!--Start Faq Style1 Area-->
    <section class="faq-style1-area">
        <div class="container">

            <div class="row">
                <div class="col-xl-12">
                    <div class="faq-style1-title">
                                                <div class="sec-title">
                            <h2>Questions &amp; Answers</h2>                                                        <div class="sub-title">
                                <p>Find answers to all your queries about our service.</p>
                            </div>
                                                    </div>
                                                                        <div class="faq-search-box">
                            <h3>Help You to Find</h3>                            <div class="faq-search-box__inner">
                                <form class="search-form" action="/">
                                    <input name="s" value="" placeholder="Related Keyword..." type="text">
                                    <button type="submit">
                                        <i class="icon-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
						                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
    <div class="faq-style1__image">
        <div class="inner">
            <img decoding="async" src="/static/images/faq-style1__image.jpg" alt="Awesome Image">
        </div>
    </div>
</div>
                <div class="col-xl-6">
    <div class="faq-style1__content">
        <ul class="accordion-box">
                                        <li class="accordion block active-block">
                <div class="acc-btn active">
                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                    <h3>What is the minimum balance?</h3>
                </div>
                <div class="acc-content current">
                    <p>The minimun account balance depends on the type of the account you operate. Please contact us for more information.</p>
                </div>
            </li>
                                        <li class="accordion block ">
                <div class="acc-btn ">
                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                    <h3>What is the rate of interest?</h3>
                </div>
                <div class="acc-content ">
                    <p>The interest rate is benchmarked with the federal reserve funds rate, and we have special plan with terms and conditions. Please contact us for more information ...</p>
                </div>
            </li>
                                        <li class="accordion block ">
                <div class="acc-btn ">
                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                    <h3>When will I receive my account statement?</h3>
                </div>
                <div class="acc-content ">
                    <p>You will receive your account statements on a monthly basis</p>
                </div>
            </li>
                                        <li class="accordion block ">
                <div class="acc-btn ">
                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                    <h3>Can I use any branch across India?</h3>
                </div>
                <div class="acc-content ">
                    <p>Our services can be used globally as we put our customers first and ensure you have a seemless banking experience.</p>
                </div>
            </li>
                                        <li class="accordion block ">
                <div class="acc-btn ">
                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                    <h3>How safe/secure is our net banking a/c?</h3>
                </div>
                <div class="acc-content ">
                    <p>Our engineers use cutting edge security technology to protect our customers from fraud and your data is safe in our database...</p>
                </div>
            </li>
                                    </ul>
    </div>
</div>

</div>
            </div>
			            <div class="row">
                <div class="col-xl-12">
                    <div class="faq-style1-bottom-box text-center">
                        <p>Didn’t get, Click below button to more answers or  <a href="/contact">contact us.</a></p>
                                                <div class="btns-box">
                            <a class="btn-one" href="/loans">
                                <span class="txt">Find More Answers</span>
                            </a>
                        </div>
                                            </div>
                </div>
            </div>
			        </div>
    </section>
    <!--End Faq Style1 Area-->

				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		
	<div class="clearfix"></div>
{% endblock %}

