{% extends "main.html" %}
{% block content %}
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('/static/images/breadcrumb-area-bg-5.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>Cashback</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li><li class="breadcrumb-item">Cashback</li>                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 
        
			<div data-elementor-type="wp-page" data-elementor-id="444" class="elementor elementor-444">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-c9c500f elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="c9c500f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a74e81e" data-id="a74e81e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a340159 elementor-widget elementor-widget-finbank_credit_card_detail" data-id="a340159" data-element_type="widget" data-widget_type="finbank_credit_card_detail.default">
				<div class="elementor-widget-container">
				
    <!--Start Cards Details Area-->
    <section class="cards-details-area">
        <div class="container">
            <div class="row">
				                <div class="col-xl-4">
                    <div class="sidebar-box-style2">
                        <div id="nav_menu-10" class="service-widget sidebar-widget widget_nav_menu"><div class="sidebar-title"><div class="dot-box"></div><h3>Card Types</h3></div><div class="menu-loans-container"><ul id="menu-loans" class="menu"><li id="menu-item-1120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1120"><a href="/loans">Home Loan</a></li>
<li id="menu-item-1121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1121"><a href="/personal-loan">Personal Loan</a></li>
<li id="menu-item-1122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1122"><a href="/vehicle-loan">Vehicle Loan</a></li>
<li id="menu-item-1118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1118"><a href="/education-loan">Education Loan</a></li>
<li id="menu-item-1119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1119"><a href="/gold-loan">Gold Loan</a></li>
</ul></div></div><div id="finbank_apply_credit_card-2" class="service-widget sidebar-widget widget_finbank_apply_credit_card">      		
            <!--Start Sidebar Banner Box-->
            <div class="sidebar-banner-box">
                <div class="top-box float-bob-y"></div>
                <div class="bottom-box float-bob-x"></div>
                                <div class="logo-box">
                    <a href="/">
                        <img decoding="async" src="/static/images/banner-logo-1.png" alt="Awesome Image">
                    </a>
                </div>
                                <h3>Apply for Credit<br> Card Online</h3>
                				<ul>
								   <li><span class="icon-checkbox-mark"></span> The well master-builder
</li>
								   <li><span class="icon-checkbox-mark"></span> On the other hand</li>
								</ul>
				                                <div class="btns-box">
                    <a class="btn-one" href="/contact">
                        <span class="txt">Apply Now</span>
                    </a>
                </div>
                            </div>
            <!--End Sidebar Banner Box-->
            
                           
        </div>                    </div>
                </div>
				
                <div class="col-xl-8 col-md-12 col-sm-12 ">
                    <div class="cards-deails-content-box">
                        <div class="cards-deails-content-1">
                            <div class="inner-title">
                                <h5>Know About</h5>                                <h2>Cashback Credit Cards</h2>                            </div>
                                                        <div class="text">
                                <p>Enjoy exclusive offfers with our Cashback Credit Cards.  Earn a one-time $200 cash bonus after you spend $500 on purchases within the first 3 months from account opening, earn
                                    unlimited #% cash back o didning, entertainment, popular streaming services amd at grocery sores (excluding superstores like Walmart and Target), plus 1% on all other purchases. </div>
                                                    </div>
						                        <div class="cards-deails-content-2">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="img-box">
                                        <ul>
                                                                                        <li>
                                            	                                                <div class="single-img-box">
                                                    <img decoding="async" src="/static/images/card-details-1.jpg" alt="Awesome Image">
                                                </div>
                                                                                            </li>
                                                                                        <li>
                                            	                                                <div class="single-img-box">
                                                    <img decoding="async" src="/static/images/card-details-2.jpg" alt="Awesome Image">
                                                </div>
                                                                                            </li>
                                                                                    </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="text-box">
                                        <ul>
                                                                                        <li>
                                            	                                                <span class="icon-shield-2"></span>
                                                <h3>Welcome Bonus</h3>
                                                <p>Earn a $500 cash rewards bonus after spending $100 in purchases in the first 3 months</p>
                                                                                            </li>
                                                                                        <li>
                                            	                                                <span class="icon-shield-2"></span>
                                                <h3>Accelerated Rewards</h3>
                                                <p>0% intro APR o purchases and balance transfers for 15 months; 17.99% - 27.99% variable APR after that; 3% fee on the amounts
                                                    and there's no limit to how much you can earn.</p>
                                                                                            </li>
                                                                                        <li>
                                            	                                                <span class="icon-shield-2"></span>
                                                <h3>Fee Waiver</h3>
                                                <p>No annual fee and no foreign transaction fee.</p>
                                                                                            </li>
                                                                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        						                        <div class="card-details-features-box">
                                                        <div class="inner-title">
                                <h2>Features</h2>                                <p>Credit cards can earn sizable returns if you're willing to track point values and optimum redemption options. Below is a list of some of our exclusive perks.</p>                            </div>
							                            <div class="row">
								                                <!--Start Card Details Single Features Box-->
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="card-details-single-features-box ">
                                        <div class="single-benefits-box">
                                                                                        <div class="icon">
                                                <span class="icon- icon-high"></span>
                                            </div>
                                                                                        <div class="text">
                                                <h3>Earn Interest up to 7%</h3>
                                                <p>Earn up to seven percent interest rate on credit cards and enjoy exclusive cash back on expenditures</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Card Details Single Features Box-->
								                                <!--Start Card Details Single Features Box-->
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="card-details-single-features-box style2">
                                        <div class="single-benefits-box">
                                                                                        <div class="icon">
                                                <span class="icon- icon-notification"></span>
                                            </div>
                                                                                        <div class="text">
                                                <h3>Free SMS Alerts</h3>
                                                <p>Enjoy free sms alerts and no charges for transactions and international transfers.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Card Details Single Features Box-->
								                                <!--Start Card Details Single Features Box-->
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="card-details-single-features-box style3">
                                        <div class="single-benefits-box">
                                                                                        <div class="icon">
                                                <span class="icon- icon-credit-card-2"></span>
                                            </div>
                                                                                        <div class="text">
                                                <h3>International Debit Cards</h3>
                                                <p>Free Debit cards that can be used all over the World.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Card Details Single Features Box-->
								                                <!--Start Card Details Single Features Box-->
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="card-details-single-features-box style4">
                                        <div class="single-benefits-box">
                                                                                        <div class="icon">
                                                <span class="icon- icon-shield-1"></span>
                                            </div>
                                                                                        <div class="text">
                                                <h3>Provides Safety</h3>
                                                <p>Enjoy cash back policies and safety against credit card scams.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Card Details Single Features Box-->
								                            </div>
                        </div>
						                                                <!--Start Card details Offer Box-->
                        <div class="card-details-offer-box">
                                                        <div class="inner-title">
                                <h2>Exciting Offers for You</h2>                                <p>Keep tabs on your credit health - Chase Credit Journey helps monitor your credit card with free access to your latest score, real-time alerts, and more..</p>                            </div>
							                            <div class="row">
                                                                <!--Start Single Offer Box-->
                                <div class="col-xl-6">
                                    <div class="single-offer-box">
                                        <div class="top">
                                        	                                            <div class="offer-logo">
                                                <img decoding="async" src="/static/images/offer-logo-1.png" alt="Awesome Image">
                                            </div>
                                                                                                                                    <div class="date-box">
                                                <p>Till: 25th Jun’23</p>
                                            </div>
                                                                                    </div>
                                                                                <div class="category">
                                            <h4>Medical</h4>
                                            <div class="border-box"></div>
                                        </div>
                                                                                <h3>Get 10% Cashback on Xfinity Card.</h3>
                                        <div class="bottom">
                                                                                        <div class="btn-box">
                                                <a href="/loans"><span class="icon-right-arrow"></span>Know More</a>
                                            </div>
                                                                                                                                    <div class="share-btn">
                                                <a href="/loans"><span class="icon-share"></span>Share</a>
                                            </div>
                                                                                    </div>
                                    </div>
                                </div>
                                <!--End Single Offer Box-->
								                                <!--Start Single Offer Box-->
                                <div class="col-xl-6">
                                    <div class="single-offer-box">
                                        <div class="top">
                                        	                                            <div class="offer-logo">
                                                <img decoding="async" src="/static/images/offer-logo-2.png" alt="Awesome Image">
                                            </div>
                                                                                                                                    <div class="date-box">
                                                <p>Till: 10th Jul’23</p>
                                            </div>
                                                                                    </div>
                                                                                <div class="category">
                                            <h4>Entertainment</h4>
                                            <div class="border-box"></div>
                                        </div>
                                                                                <h3>Get 20% Cashback on Brex Card.</h3>
                                        <div class="bottom">
                                                                                        <div class="btn-box">
                                                <a href="/loans"><span class="icon-right-arrow"></span>Know More</a>
                                            </div>
                                                                                                                                    <div class="share-btn">
                                                <a href="/loans"><span class="icon-share"></span>Share</a>
                                            </div>
                                                                                    </div>
                                    </div>
                                </div>
                                <!--End Single Offer Box-->
								                            </div>
                        </div>
                        <!--End Card details Offer Box-->
						                                                <div class="card-deatils-accordion-box">
                            <ul class="accordion-box">
                                                                <li class="accordion block active-block">
                                    <div class="acc-btn active">
                                        <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                        <h3>Eligibility to Apply</h3>
                                    </div>
                                    <div class="acc-content current">
                                        <div class="card-deatils-accordion-box-content">
                                            <h4>To apply for a Credit Card</h4>
                                            											<ul>
																								   <li>You will need to be minimum 18 years of age.</li>
																								   <li>For salary person net annual income of Rs 4.5 lakh or more</li>
																								   <li>Consider a credit score between 750 and 900 to be adequate for a Credit Card.</li>
																								   <li>Location is also another factor</li>
																							</ul>
											                                                                                        <div class="btns-box">
                                                <a class="btn-one" href="/contact">
                                                    <span class="txt">Apply for Card</span>
                                                </a>
                                            </div>
                                                                                    </div>
                                    </div>
                                </li>
                                                                <li class="accordion block ">
                                    <div class="acc-btn ">
                                        <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                        <h3>Fees &amp; Charges</h3>
                                    </div>
                                    <div class="acc-content ">
                                        <div class="card-deatils-accordion-box-content">
                                            <h4>To apply for a Credit Card</h4>
                                            											<ul>
																								   <li>For salary person net annual income of Rs 4.5 lakh or more</li>
																								   <li>You will need to be minimum 18 years of age.</li>
																								   <li>Consider a credit score between 750 and 900 to be adequate for a Credit Card.</li>
																								   <li>Location is also another factor</li>
																							</ul>
											                                                                                        <div class="btns-box">
                                                <a class="btn-one" href="/contact">
                                                    <span class="txt">Apply for Card</span>
                                                </a>
                                            </div>
                                                                                    </div>
                                    </div>
                                </li>
                                                            </ul>
                        </div>
						                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Cards Details Area-->
      
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		
	<div class="clearfix"></div>
{% endblock %}