{% extends "main.html" %}
{% block content %}
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('/static/images/breadcrumb-area-bg.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>Faq’s</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li><li class="breadcrumb-item">Faq’s</li>                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 
        
			<div data-elementor-type="wp-page" data-elementor-id="389" class="elementor elementor-389">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-f361bec elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="f361bec" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-df9a065" data-id="df9a065" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a14cd3b elementor-widget elementor-widget-finbank_faqs_v2" data-id="a14cd3b" data-element_type="widget" data-widget_type="finbank_faqs_v2.default">
				<div class="elementor-widget-container">
			    
    <!--Start Faq Page One-->
    <section class="faq-page-one">
        <div class="container">
                        <div class="sec-title text-center">
                <h2>Frequently Asked Questions</h2>				                <div class="sub-title">
                    <p>Find answers to all your queries about our service.</p>
                </div>
                            </div>
                                    <div class="faq-search-box">
                <div class="faq-search-box__inner">
                    <form class="search-form" action="/">
                        <input name="s" value="" placeholder="Related Keyword..." type="text">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                </div>
            </div>
			            <div class="row">

                <div class="col-xl-6">
                    <div class="faq-style1__content">
                        <ul class="accordion-box">
							                                                        <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>What is the minimum balance?</h3>
                                </div>
                                <div class="acc-content current">
                                    <p>Rationally encounter consequences that are extremely painful again there anyone who loves or pursues desire.</p>
                                </div>
                            </li>
							                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>What is the rate of interest?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>There anyone who loves or pursues desire rationally encounter consequences that are extremely painful again .</p>
                                </div>
                            </li>
							                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>When will I receive my account statement?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>Consequences that are extremely painful again there anyone rationally encounter who loves or pursues desire.</p>
                                </div>
                            </li>
							                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>Can I use any branch across India?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>Extremely painful again there anyone who rationally encounter consequences that are loves or pursues desire.</p>
                                </div>
                            </li>
							                                                    </ul>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="faq-style1__content margintop">
                        <ul class="accordion-box">
							                            <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>How safe/secure is our net banking a/c?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>Anyone who loves or pursues desire rationally encounter consequences that are extremely painful again there .</p>
                                </div>
                            </li>
							                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>How you safe/secure is our net banking a/c?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>Pursues desire rationally encounter consequences that are anyone who loves or extremely painful again there .</p>
                                </div>
                            </li>
							                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>who loves or extremely painful again there?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>Anyone who loves or extremely painful again there pursues desire rationally encounter consequences that are.</p>
                                </div>
                            </li>
							                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>Encounter who loves or pursues desire</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>That are extremely painful again there anyone rationally encounter who loves or pursues desire consequences .</p>
                                </div>
                            </li>
							                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Faq Page One-->        

				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		
	<div class="clearfix"></div>
{% endblock %}