{% extends "main.html" %}
{% block content %}
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('/static/images/breadcrumb-area-bg-3.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>Fixed Deposit Account</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li><li class="breadcrumb-item">Fixed Deposit Account</li>                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 
        
			<div data-elementor-type="wp-page" data-elementor-id="424" class="elementor elementor-424">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-7f34b45 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="7f34b45" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0b043a7" data-id="0b043a7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-64b3962 elementor-widget elementor-widget-finbank_get_more_money" data-id="64b3962" data-element_type="widget" data-widget_type="finbank_get_more_money.default">
				<div class="elementor-widget-container">
				
    <!--Start Overview Area-->
    <section class="overview-area">
        <div class="container">
                        <div class="sec-title text-center">
                <h2>Get More From Your Money</h2>                                <div class="sub-title">
                    <p>Access your money anytime and anywhere.</p>
                </div>
                            </div>
                        <div class="row">

                <div class="col-xl-6">
                    <div class="overview-content-box-one">
                        <ul class="clearfix">
                                                        <li>
                                <div class="single-overview-box">
                                                                        <div class="icon">
                                        <span class="icon-checkbox-mark"></span>
                                    </div>
                                    <div class="title">
                                        <h3><a href="/savings-account/">Instant Account<br> Opening</a></h3>
                                    </div>
                                                                    </div>
                            </li>
                                                        <li>
                                <div class="single-overview-box">
                                                                        <div class="icon">
                                        <span class="icon-checkbox-mark"></span>
                                    </div>
                                    <div class="title">
                                        <h3><a href="/rewards/">Exciting Offers &amp;<br> Discounts</a></h3>
                                    </div>
                                                                    </div>
                            </li>
                                                        <li>
                                <div class="single-overview-box">
                                                                        <div class="icon">
                                        <span class="icon-checkbox-mark"></span>
                                    </div>
                                    <div class="title">
                                        <h3><a href="/#">Secure Internet &amp;<br> Mob Banking</a></h3>
                                    </div>
                                                                    </div>
                            </li>
                                                        <li>
                                <div class="single-overview-box">
                                                                        <div class="icon">
                                        <span class="icon-checkbox-mark"></span>
                                    </div>
                                    <div class="title">
                                        <h3><a href="/rewards/">Earn<br> Reward Points</a></h3>
                                    </div>
                                                                    </div>
                            </li>
                                                    </ul>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="overview-content-box-two">
                                                <div class="inner-title">
                            <h5>Know About</h5>                            <h2>Savings Account</h2>                        </div>
                                                                        <div class="text">
                            <p>Fail in their duty through weakness of will which is the same as saying through shrinking from toil and pain cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice.</p>
<p>The claims off duty or the obligations business it will frequently occur that pleasures be repudiated to distinguish nothing prevents.</p>                        </div>
                                                                        <div class="btns-box">
                            <a class="btn-one" href="/contact">
                                <span class="txt"><i class="icon-payment"></i>Open an Account</span>
                            </a>
                        </div>
                                            </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Overview Area-->
        
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-17887e7 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="17887e7" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f243135" data-id="f243135" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-cf3e7c5 elementor-widget elementor-widget-finbank_statistics_area" data-id="cf3e7c5" data-element_type="widget" data-widget_type="finbank_statistics_area.default">
				<div class="elementor-widget-container">
				
    <!--Start Statistics Style2 Area-->
    <section class="statistics-style2-area">
                <div class="statistics-style2-area-shape1">
            <img decoding="async" src="/static/images/statistics-style2-area-shape-1.png" alt="Awesome Image">
        </div>
                        <div class="statistics-style2-area-bg" style="background-image: url(/static/images/statistics-style2-area-bg.jpg);"></div>
                <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <div class="statistics-content-box-style2">
                                                <div class="sec-title">
                            <h2>Reach Your<br> Savings Goal With Us</h2>
                        </div>
                                                <div class="progress-block">
                            <div class="inner-box">
                                <div class="graph-outer">
                                                                        <input type="text" class="dial" data-fgcolor="#CF173C" data-bgcolor="#F7F1EB" data-width="140" data-height="140" data-linecap="normal" value="84">
                                                                                                            <div class="outer-text">
                                        <h3>Year of<br> 2021</h3>
                                    </div>
                                                                    </div>
                            </div>
                            <div class="inner-text count-box">
                                                                <div class="count-text-outer">
                                    <span class="count-text" data-stop="84" data-speed="2000"></span>%                                </div>
                                                                <h3>Income Statement</h3>                                <p>Long established fact that a reader will distracted</p>                                                                <div class="btn-box">
                                    <a href="/contact"><span class="icon-right-arrow"></span>Download</a>
                                </div>
                                                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Statistics Style2 Area-->
        
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1648a20 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="1648a20" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-41b50d1" data-id="41b50d1" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-687e047 elementor-widget elementor-widget-finbank_benefits_section" data-id="687e047" data-element_type="widget" data-widget_type="finbank_benefits_section.default">
				<div class="elementor-widget-container">
					
        <!--Start Benefits Area-->
        <section id="benefits" class="benefits-style2-area">
            <div class="container">
                                <div class="sec-title text-center">
                    <h2>Our Savings Account Benefits</h2>                                        <div class="sub-title">
                        <p>We help businesses and customers achieve more.</p>
                    </div>
                                    </div>
                                <ul class="row benefits-content text-center">
					                    <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                                                        <div class="icon">
                                <span class="icon- icon-high"></span>
                            </div>
                                                        <div class="text">
                                <h3>Earn Interest up to 7%</h3>
                                <p>Holds these matters principles selection right some rejects.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                                        <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                                                        <div class="icon">
                                <span class="icon- icon-notification"></span>
                            </div>
                                                        <div class="text">
                                <h3>Free SMS Alerts</h3>
                                <p>Business will frequently occur that pleasure have to be repudiated.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                                        <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                                                        <div class="icon">
                                <span class="icon- icon-safebox"></span>
                            </div>
                                                        <div class="text">
                                <h3>Discounts on Locker</h3>
                                <p>he wise man therefore always holds these principle of selection.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                                        <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                                                        <div class="icon">
                                <span class="icon- icon-credit-card-2"></span>
                            </div>
                                                        <div class="text">
                                <h3>International Debit Cards</h3>
                                <p>The wise man therefore always holds these principle of selection.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                                        <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                                                        <div class="icon">
                                <span class="icon- icon-shield-1"></span>
                            </div>
                                                        <div class="text">
                                <h3>Provides Safety</h3>
                                <p>These matters principles selection right some rejects holds.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                                        <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                                                        <div class="icon">
                                <span class="icon- icon-paperless"></span>
                            </div>
                                                        <div class="text">
                                <h3>Paperless Banking</h3>
                                <p>Occur that pleasure have to be repudiated business will frequently .</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                                    </ul>
            </div>
        </section>
        <!--End Benefits Area-->     
             
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-7d7f63c elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="7d7f63c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-97c8683" data-id="97c8683" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-78e4b52 elementor-widget elementor-widget-finbank_eligibility_open_account" data-id="78e4b52" data-element_type="widget" data-widget_type="finbank_eligibility_open_account.default">
				<div class="elementor-widget-container">
				
    <!--Start Eligibility Area-->
    <section id="eligibility" class="eligibility-area">
        <div class="container">
            <div class="row">

                <div class="col-xl-6">
                    <div class="eligibility-img-box">
                                                <div class="sec-title">
                            <h2>Eligibility to <br>Open Savings Account</h2>                                                        <div class="sub-title">
                                <p>Eligibility parameters for saving account.</p>
                            </div>
                                                    </div>
                                                                        <div class="eligibility-img-box__inner">
                            <img decoding="async" src="/static/images/eligibility-img-1.jpg" alt="Awesome Image">
                        </div>
                                            </div>
                </div>

                <div class="col-xl-6">
                    <div class="eligibility-content-box">
                        <div class="eligibility-content-box__inner">
                            <ul>
                                                                <li>
                                    <div class="inner">
                                        <div class="counting"> 1</div>
                                        <div class="text">
                                            <h3>Nationality</h3>
                                            <p>Indian Residents, and Non-Resident individuals</p>
                                        </div>
                                    </div>
                                </li>
                                                                <li>
                                    <div class="inner">
                                        <div class="counting"> 2</div>
                                        <div class="text">
                                            <h3>Age</h3>
                                            <p>18 Years old or above</p>
                                        </div>
                                    </div>
                                </li>
                                                                <li>
                                    <div class="inner">
                                        <div class="counting"> 3</div>
                                        <div class="text">
                                            <h3>Nationality</h3>
                                            <p>Residents, and Non-Resident individuals</p>
                                        </div>
                                    </div>
                                </li>
                                                                <li>
                                    <div class="inner">
                                        <div class="counting"> 4</div>
                                        <div class="text">
                                            <h3>Age</h3>
                                            <p>18 Years old or above</p>
                                        </div>
                                    </div>
                                </li>
                                                            </ul>
                        </div>

                        <div class="facts-box-style2">
                                                        <div class="counting">
                                <h2 class="odometer odometer-auto-theme" data-count="2.3"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span></div></h2>
                                <span class="k">k</span>
                            </div>
                                                                                    <div class="inner-title">
                                <h3>Saving account opened<br> in last year</h3>
                            </div>
                                                    </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Eligibility Area-->
        
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-3b90964 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="3b90964" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6944226" data-id="6944226" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c1cc3b2 elementor-widget elementor-widget-finbank_required_documents" data-id="c1cc3b2" data-element_type="widget" data-widget_type="finbank_required_documents.default">
				<div class="elementor-widget-container">
				
    <!--Start Documents Area-->
    <section id="required" class="documents-area">
        <div class="container">
                        <div class="sec-title text-center">
                <h2>Savings A/c Required Documents</h2>				                <div class="sub-title">
                    <p>Basic documents required for opening a savings account.</p>
                </div>
                            </div>
                        <div class="row">

                <div class="col-xl-3 col-lg-6">
                                        <!--Start Single Documents Box-->
                    <div class="single-documents-box">
                        <div class="inner-title">
                            <h3>PAN Card<br> is Mandatory</h3>
                        </div>
                    </div>
                    <!--End Single Documents Box-->
                                                            <!--Start Single Documents Box-->
                    <div class="single-documents-box">
                        <div class="inner-title">
                            <h3>Duly Filled<br> Application Form</h3>
                        </div>
                    </div>
                    <!--End Single Documents Box-->
                                    </div>
				                <div class="col-xl-3 col-lg-6">
                    <!--Start Single Documents Box-->
                    <div class="single-documents-box">
                        <div class="inner-title">
                            <h3>Non Resident</h3>
                        </div>
                                                <ul>
                                                        <li><span class="icon-play-button-1"></span><a href="#">Passport</a></li>
                                                        <li><span class="icon-play-button-1"></span><a href="#">Driving License</a></li>
                                                        <li><span class="icon-play-button-1"></span><a href="#">Aadhaar Number</a></li>
                                                        <li><span class="icon-play-button-1"></span><a href="#">Voter’s Identity Card</a></li>
                                                    </ul>
                                            </div>
                    <!--End Single Documents Box-->
                </div>
                                <div class="col-xl-3 col-lg-6">
                    <!--Start Single Documents Box-->
                    <div class="single-documents-box">
                        <div class="inner-title">
                            <h3>For Resident</h3>
                        </div>
                                                <ul>
                                                        <li><span class="icon-play-button-1"></span><a href="#">Passport</a></li>
                                                        <li><span class="icon-play-button-1"></span><a href="#">Visa</a></li>
                                                        <li><span class="icon-play-button-1"></span><a href="#">Bank Statement (If any)</a></li>
                                                        <li><span class="icon-play-button-1"></span><a href="#">Company Proof</a></li>
                                                    </ul>
                                            </div>
                    <!--End Single Documents Box-->
                </div>
                                <div class="col-xl-3 col-lg-6">
                                        <!--Start Single Documents Box-->
                    <div class="single-documents-box">
                        <div class="inner-title">
                            <h3>Color &amp; Passport Size<br>Photographs</h3>
                        </div>
                    </div>
                    <!--End Single Documents Box-->
                                                            <!--Start Single Documents Box-->
                    <div class="single-documents-box">
                        <div class="inner-title">
                            <h3>Color &amp; Passport Size<br>Photographs</h3>
                        </div>
                    </div>
                    <!--End Single Documents Box-->
                                    </div>

            </div>
        </div>
    </section>
    <!--End Documents Area-->   
             
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-8bc610e elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="8bc610e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-544343c" data-id="544343c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e88e366 elementor-widget elementor-widget-finbank_account_charges" data-id="e88e366" data-element_type="widget" data-widget_type="finbank_account_charges.default">
				<div class="elementor-widget-container">
				
    <!--Start Interest Charges Area-->
    <section id="interest" class="interest-charges-area">
                <div class="interest-charges-area-shape1">
            <img decoding="async" src="/static/images/interest-charges-area-shape-1.png" alt="Awesome Image">
        </div>
                <div class="container">
                        <div class="sec-title text-center">
                <h2>Account Interest &amp; Charges</h2>				                <div class="sub-title">
                    <p>Your money is making money for you &amp; Your Family.</p>
                </div>
                            </div>
                        <div class="row">
                <div class="col-xl-12">
                    <div class="interest-charges-table-box">
                        <div class="table-outer">
                            <table class="interest-charges-table">
                                <tbody>
									                                    <tr>
                                                                                <td class="title">
                                            <h3>Account Interest Rates<br> Per Annum</h3>
                                        </td>
                                                                                <td class="balance">
                                                                                        <div class="inner-title">
                                                <h3>Balance in a/c</h3>
                                            </div>
                                                                                        											<ul>
																								   <li>Up to Rs. 1 Lakh</li>
																								   <li>Above 1 Lakh to 5 Lakh</li>
																								   <li>Above 5 Lakh to 10 Lakh</li>
																								   <li>Above 10Lakh</li>
																							</ul>
											                                        </td>
                                        <td class="interest">
                                                                                        <div class="inner-title">
                                                <h3>Interest</h3>
                                            </div>
                                                                                        											<ul>
																								   <li>3.00%</li>
																								   <li>5.00%</li>
																								   <li>8.25%</li>
																								   <li>10.00%</li>
																							</ul>
											                                        </td>
                                    </tr>
									                                    <tr>
                                                                                <td class="title">
                                            <h3>Debit Card</h3>
                                        </td>
                                                                                <td class="balance">
                                                                                        											<ul>
																								   <li>Annual Fees</li>
																								   <li>Transaction Limit</li>
																								   <li>Card Replacement</li>
																							</ul>
											                                        </td>
                                        <td class="interest">
                                                                                        											<ul>
																								   <li>Nill</li>
																								   <li>20 Lakh / Annum</li>
																								   <li>Rs.600+Taxes</li>
																							</ul>
											                                        </td>
                                    </tr>
									                                    <tr>
                                                                                <td class="title">
                                            <h3>Credit Card</h3>
                                        </td>
                                                                                <td class="balance">
                                                                                        											<ul>
																								   <li>Annual Fees</li>
																								   <li>Card Replacement</li>
																							</ul>
											                                        </td>
                                        <td class="interest">
                                                                                        											<ul>
																								   <li>Rs.1500</li>
																								   <li>Rs.600+Taxes</li>
																							</ul>
											                                        </td>
                                    </tr>
									                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Interest Charges Area-->
        
        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-adea78f elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="adea78f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2a8e237" data-id="2a8e237" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-fdf064f elementor-widget elementor-widget-finbank_our_faqs_v1" data-id="fdf064f" data-element_type="widget" data-widget_type="finbank_our_faqs_v1.default">
				<div class="elementor-widget-container">
			    
    <!--Start Faq Style1 Area-->
    <section class="faq-style1-area">
        <div class="container">

            <div class="row">
                <div class="col-xl-12">
                    <div class="faq-style1-title">
                                                <div class="sec-title">
                            <h2>Questions &amp; Answers</h2>                                                        <div class="sub-title">
                                <p>Find answers to all your queries about our service.</p>
                            </div>
                                                    </div>
                                                                        <div class="faq-search-box">
                            <h3>Help You to Find</h3>                            <div class="faq-search-box__inner">
                                <form class="search-form" action="/">
                                    <input name="s" value="" placeholder="Related Keyword..." type="text">
                                    <button type="submit">
                                        <i class="icon-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
						                    </div>
                </div>
            </div>

            <div class="row">
				                <div class="col-xl-6">
                    <div class="faq-style1__image">
                        <div class="inner">
                            <img decoding="async" src="/static/images/faq-style1__image.jpg" alt="Awesome Image">
                        </div>
                    </div>
                </div>
				                <div class="col-xl-6">
                    <div class="faq-style1__content">
                        <ul class="accordion-box">
							                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>What is the minimum balance?</h3>
                                </div>
                                <div class="acc-content current">
                                    <p>Rationally encounter consequences that are extremely painful again there anyone who loves or pursues desire.</p>
                                </div>
                            </li>
                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>What is the rate of interest?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>There anyone who loves or pursues desire rationally encounter consequences that are extremely painful again ...</p>
                                </div>
                            </li>
                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>When will I receive my account statement?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>Consequences that are extremely painful again there anyone rationally encounter who loves or pursues desire.</p>
                                </div>
                            </li>
                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>Can I use any branch across India?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>Extremely painful again there anyone who rationally encounter consequences that are loves or pursues desire.</p>
                                </div>
                            </li>
                                                        <li class="accordion block ">
                                <div class="acc-btn ">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>How safe/secure is our net banking a/c?</h3>
                                </div>
                                <div class="acc-content ">
                                    <p>Anyone who loves or pursues desire rationally encounter consequences that are extremely painful again there ...</p>
                                </div>
                            </li>
                                                    </ul>
                    </div>
                </div>

            </div>
			            <div class="row">
                <div class="col-xl-12">
                    <div class="faq-style1-bottom-box text-center">
                        <p>Didn’t get, Click below button to more answers or  <a href="/contact">contact us.</a></p>
                                                <div class="btns-box">
                            <a class="btn-one" href="/about">
                                <span class="txt">Grab Your Deals</span>
                            </a>
                        </div>
                                            </div>
                </div>
            </div>
			        </div>
    </section>
    <!--End Faq Style1 Area-->

				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		
	<div class="clearfix"></div>
{% endblock %}