{% extends "main.html" %}
{% block content %}

<div class="col-md-9 col-lg-4 col-xl-4 mx-auto my-5">
    <div class="bg-white shadow-sm rounded ">
        <div class="ugf-form-card ugf-form-complete">
            <div class="icon">
            <img src="/static/images/2.png" alt="">
            </div>
            <h3>Reset link Sent</h3>
            <p>Please check your mail <strong>example@mail.com</strong> and reset your password from the link</p>
        </div>
    </div>
</div>

{% endblock %}