{% extends "main.html" %}
{% block content %}
    
    <!-- Preloader -->
    <div id="preloader" style="display: none;">
      <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End --> 
    
    <!-- Document Wrapper
    ============================================= -->
    <div id="main-wrapper"> 
      
      <!-- Header
      ============================================= -->
      <header id="header">
        <div class="container">
          <div class="header-row">
            <div class="header-column justify-content-start"> 
              <!-- Logo
              ============================= -->
              <!-- Logo end --> 
              <!-- Collapse Button
              ============================== -->
              <!-- Collapse Button end --> 
              
              <!-- Primary Navigation
              ============================== -->
              <nav class="primary-menu navbar navbar-expand-lg">
                <div id="header-nav" class="collapse navbar-collapse">
                 
                </div>
              </nav>
              <!-- Primary Navigation end --> 
            </div>
            <div class="header-column justify-content-end"> 
              <!-- My Profile
              ============================== -->
              <nav class="login-signup navbar navbar-expand">
                
              </nav>
              <!-- My Profile end --> 
            </div>
          </div>
        </div>
      </header>
      <!-- Header End --> 
      
      <!-- Content
      ============================================= -->
      <div id="content" class="py-4">
        <div class="container">
          <div class="row"> 
            
            <!-- Left Panel
            ============================================= -->
            <aside class="col-lg-3"> 
              
              <!-- Profile Details
              =============================== -->
              <div class="bg-white shadow-sm rounded text-center p-5 mb-4">
                <div class="profile-thumb mt-3 mb-4"> <img width="85%" height="auto" class="rounded-circle" src="{{ url_for('uploaded_file', filename=data.profile_image) }}" alt="">
                  
                </div>
                <p class=" fw-500 mb-2 text-6">Hello, <bold class="text-7">{{ data.account.first_name|upper }} {{ data.account.last_name|upper }} </bold></p>
                <p class=" fw-500 mb-2">ACCOUNT # <bold class="text-7">{{ data.account.account_number|upper }}</bold></p>
                <!-- <p class="mb-2"><a href="" class=" text-light" data-bs-toggle="tooltip" title="" data-bs-original-title="Edit Profile" aria-label="Edit Profile"><i class="fas fa-edit text-8"></i></a></p> -->
              </div>
              <!-- Profile Details End --> 
              
               <!-- Available Balance
              =============================== -->
              <div class="bg-white shadow-sm rounded text-center p-5 mb-4">
                <div class="7 text-light my-3"><i class="fas fa-wallet text-20 text-light"></i></div>
                <h3 class="text-15 fw-400">${{ data.account.account_balance }}</h3>
                <p class="mb-2 text-muted opacity-8">Available Balance</p>
                <hr class="mx-n4">
                <div class="d-flex"><a href="/withdraw" class="btn-link me-auto">Withdraw</a> <a href="/send-money" class="btn-link ms-auto">Send Money</a></div>
              </div>
              <!-- Available Balance End --> 
              
              <!-- Need Help?
              =============================== -->
              <div class="bg-white shadow-sm rounded text-center p-5 mb-4">
                <div class="7 text-light my-3"><i class="fas fa-comments text-22"></i></div>
                <h3 class=" fw-400 my-4">Need Help?</h3>
                <p class="text-muted opacity-8 mb-4">Have questions or concerns regrading your account?<br>
                  Our experts are here to help!.</p>
                <div class="d-grid"><a href="/chat?room={{ current_user.username }}" class="btn btn-primary" style="padding: 15px !important; font-size: 14px;">Chat with Us</a></div>
              </div>
              <!-- Need Help? End -->  
              
            </aside>
            <!-- Left Panel End --> 
            
            <!-- Middle Panel
            ============================================= -->
            <div class="col-lg-9"> 
              
              <!-- Personal Details
              ============================================= -->
              <div class="bg-white shadow-sm rounded p-5 mb-4">
                <h3 class="text-7 fw-600 d-flex align-items-center mb-4">Personal Details</h3>
                <hr class="mx-n4 mb-4">
                <div class="row gx-3 align-items-center">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Name:</p>
                  <p class="col-sm-9 text-5">{{ data.account.first_name }} {{ data.account.last_name }}</p>
                </div>
                <div class="row gx-3 align-items-center">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Date of Birth:</p>
                  <p class="col-sm-9 text-5">{{ data.account.dob.strftime("%m/%d/%Y") }}</p>
                </div>
                <div class="row gx-3 align-items-baseline">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Address:</p>
                  <p class="col-sm-9 text-5">{{ data.account.home_address }},<br>
                    {{ data.account.city }},<br>
                    {{ data.account.state }} - {{ data.account.zip_code }},<br>
                    {{ data.account.country }}.</p>
                </div>
              </div>
              
              
              <!-- Account Settings
              ============================================= -->
              <div class="bg-white shadow-sm rounded p-5 mb-4">
                <h3 class="text-7 fw-600 d-flex align-items-center mb-4">Account Settings</h3>
                <hr class="mx-n4 mb-4">
                <div class="row gx-3 align-items-center">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Language:</p>
                  <p class="col-sm-9 text-5">English (United States)</p>
                </div>
                <div class="row gx-3 align-items-center">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Time Zone:</p>
                  <p class="col-sm-9 text-5">(GMT-06:00) Central America</p>
                </div>
                <div class="row gx-3 align-items-center">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Account Status:</p>
                  <p class="col-sm-9 text-5"><span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i> Active</span></p>
                </div>
              </div>
              
              <!-- Email Addresses
              ============================================= -->
              <div class="bg-white shadow-sm rounded p-5 mb-4">
                <h3 class="text-7 fw-600 d-flex align-items-center mb-4">Email Addresses</h3>
                <hr class="mx-n4 mb-4">
                <div class="row gx-3 align-items-center">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Email ID:</p>
                  <p class="col-sm-9 text-5 d-sm-inline-flex d-md-flex align-items-center">{{ data.account.email_address }}<span class="badge bg-info text-1 fw-500 rounded-pill px-2 py-1 ms-2">Primary</span></p>
                </div>
                {% if data.account.alt_email_address %}
                <div class="row gx-3 align-items-center">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Email ID:</p>
                  <p class="col-sm-9 text-5">{{ data.account.alt_email_address }}</p>
                </div>
                {% endif %}
              </div>
              
              <!-- Phone
              ============================================= -->
              <div class="bg-white shadow-sm rounded p-5 mb-4">
                <h3 class="text-7 fw-600 d-flex align-items-center mb-4">Phone</h3>
                <hr class="mx-n4 mb-4">
                <div class="row gx-3 align-items-center">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Mobile:</p>
                  <p class="col-sm-9 text-5 align-items-center d-sm-inline-flex d-md-flex">{{ data.account.phone_number }}<span class="badge bg-info text-1 fw-500 rounded-pill px-2 py-1 ms-2">Primary</span></p>
                </div>
                {% if data.account.alt_phone_number %}
                <div class="row gx-3 align-items-center">
                  <p class="col-sm-3 text-5 text-muted text-sm-end mb-0 mb-sm-3">Mobile:</p>
                  <p class="col-sm-9 text-5">{{ data.account.alt_phone_number }}</p>
                </div>
                {% endif %}
              </div>
              <!-- Phone End --> 
              
            </div>
            <!-- Middle Panel End --> 
          </div>
        </div>
      </div>
      <!-- Content end --> 
      
    </div>
    <!-- Document Wrapper end --> 
    
    <!-- Back to Top
    ============================================= --> 
    
    <!-- Styles Switcher -->
    <div id="styles-switcher" class="left">
      <h2 class="text-6 mb-3">Settings</h2>
      <hr>
      <button class="btn btn-dark btn-sm border-0 fw-400 rounded-0 shadow-none d-block" style="width: 100%; margin-bottom: 10px; padding: 10px;"><a class="text-5 text-white" href="/profile">Personal information</a> </button>
      <button class="btn btn-dark btn-sm border-0 fw-400 rounded-0 shadow-none d-block" style="width: 100%; margin-bottom: 10px; padding: 10px;"><a class="text-5 text-white" href="/change-password">Change Password</a> </button>
      <button class="btn btn-dark btn-sm border-0 fw-400 rounded-0 shadow-none d-block" style="width: 100%; margin-bottom: 10px; padding: 10px;"><a class="text-5 text-white" href="/change-pin">Change PIN</a> </button>
      <button class="btn btn-dark btn-sm border-0 fw-400 rounded-0 shadow-none d-block" style="width: 100%; margin-bottom: 10px; padding: 10px;"><a class="text-5 text-white" href="/logout">Logout</a> </button>
      <button class="btn switcher-toggle"><i class="fas fa-cog text-8"></i></button>
    </div>
  <!-- Styles Switcher End --> 
    
    <!-- Script --> 
    <script src="/static/js/jquery/jquery.min.js"></script> 
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script> 
    <script src="/static/js/daterangepicker/moment.min.js"></script> 
    <script src="/static/js/daterangepicker/daterangepicker.js"></script> 
    <script>
    $(function() {
     'use strict';
      // Birth Date
      $('#birthDate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoUpdateInput: false,
        maxDate: moment().add(0, 'days'),
        }, function(chosen_date) {
      $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
      });
      });
    </script> 
    <!-- Style Switcher --> 
    <script src="/static/js/switcher.min.js"></script> 
    <script src="/static/js/theme.js"></script>
    
{% endblock %}