{% extends "main.html" %}
{% block content %}
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('/static/images/breadcrumb-area-bg.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>Testimonials</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li><li class="breadcrumb-item">Testimonials</li>                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 
        
			<div data-elementor-type="wp-page" data-elementor-id="391" class="elementor elementor-391">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-b87270d elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="b87270d" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ae56973" data-id="ae56973" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-f0ddec4 elementor-widget elementor-widget-finbank_our_testimonial_v2" data-id="f0ddec4" data-element_type="widget" data-widget_type="finbank_our_testimonial_v2.default">
				<div class="elementor-widget-container">
				
    <!--Start Testimonial Style2 Area-->
    <section class="testimonial-style2-area">
        <div class="container">
            <div class="row masonary-layout" style="position: relative; height: 2888px;">
				                <!--Start Single Testimonial Style2-->
                <div class="col-xl-6 col-lg-6" style="position: absolute; left: 0px; top: 0px;">
                    <div class="single-testimonial-style2 bg-white">
                        <div class="top">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li>                                </ul>
                            </div>
                            <div class="date-box">
                                <p>September 19, 2022</p>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>Experience with Finbank has been very accommodating forthey have online banking. When I need to transfer funds and pay bills it can be done at ...</p>
                        </div>
                        <div class="customer-info">
                            <div class="img-box">
                                <img loading="lazy" width="50" height="50" src="/static/images/testimonial-v1-1.jpg" class="attachment-finbank_50x50 size-finbank_50x50 wp-post-image" alt="" decoding="async">                            </div>
                            <div class="title-box">
                                <h3>Nathan Felix</h3>
                                <span>California</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Testimonial Style2-->
				                <!--Start Single Testimonial Style2-->
                <div class="col-xl-6 col-lg-6" style="position: absolute; left: 0px; top: 361px;">
                    <div class="single-testimonial-style2 ">
                        <div class="top">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star-half-alt"></i></li>                                </ul>
                            </div>
                            <div class="date-box">
                                <p>September 19, 2022</p>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>My experience with transitioning has been great. Everyone at thebank has been extremely accommodating. They make me feel that my business matters.</p>
                        </div>
                        <div class="customer-info">
                            <div class="img-box">
                                <img width="50" height="50" src="/static/images/testimonial-v1-2.jpg" class="attachment-finbank_50x50 size-finbank_50x50 wp-post-image" alt="" decoding="async" loading="lazy">                            </div>
                            <div class="title-box">
                                <h3>Nora Penelope</h3>
                                <span>Newyork</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Testimonial Style2-->
				                <!--Start Single Testimonial Style2-->
                <div class="col-xl-6 col-lg-6" style="position: absolute; left: 0px; top: 722px;">
                    <div class="single-testimonial-style2 ">
                        <div class="top">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li>                                </ul>
                            </div>
                            <div class="date-box">
                                <p>September 19, 2022</p>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>Experience with transitioning has been great. Everyone at the bank has been extremely accommodating. They make me feel that my business matters. I like that ...</p>
                        </div>
                        <div class="customer-info">
                            <div class="img-box">
                                <img width="50" height="50" src="/static/images/testimonial-v1-4.jpg" class="attachment-finbank_50x50 size-finbank_50x50 wp-post-image" alt="" decoding="async" loading="lazy">                            </div>
                            <div class="title-box">
                                <h3>Arlo Sebastian</h3>
                                <span>California</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Testimonial Style2-->
				                <!--Start Single Testimonial Style2-->
                <div class="col-xl-6 col-lg-6" style="position: absolute; left: 0px; top: 1109px;">
                    <div class="single-testimonial-style2 bg-white">
                        <div class="top">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li>                                </ul>
                            </div>
                            <div class="date-box">
                                <p>September 19, 2022</p>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>Finbank has been outstanding in the services they have provided me. I have utilized their services for over a year while mobilized for the Army ...</p>
                        </div>
                        <div class="customer-info">
                            <div class="img-box">
                                <img width="50" height="50" src="/static/images/testimonial-v1-3.jpg" class="attachment-finbank_50x50 size-finbank_50x50 wp-post-image" alt="" decoding="async" loading="lazy">                            </div>
                            <div class="title-box">
                                <h3>Silverster Scoot</h3>
                                <span>Los Angeles</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Testimonial Style2-->
				                <!--Start Single Testimonial Style2-->
                <div class="col-xl-6 col-lg-6" style="position: absolute; left: 0px; top: 1470px;">
                    <div class="single-testimonial-style2 bg-white">
                        <div class="top">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li>                                </ul>
                            </div>
                            <div class="date-box">
                                <p>September 19, 2022</p>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>Finbank has been very accommodating forthey have online banking. Experience with When I need to transfer funds and pay bills it can be done at ...</p>
                        </div>
                        <div class="customer-info">
                            <div class="img-box">
                                <img width="50" height="50" src="/static/images/value-1-50x50.jpg" class="attachment-finbank_50x50 size-finbank_50x50 wp-post-image" alt="" decoding="async" loading="lazy" srcset="/static/images/value-1-50x50.jpg 50w, /static/images/value-1-150x150.jpg 150w, /static/images/value-1-340x350.jpg 340w, /static/images/value-1-120x120.jpg 120w" sizes="(max-width: 50px) 100vw, 50px">                            </div>
                            <div class="title-box">
                                <h3>Crise Jordan</h3>
                                <span>Newyork</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Testimonial Style2-->
				                <!--Start Single Testimonial Style2-->
                <div class="col-xl-6 col-lg-6" style="position: absolute; left: 0px; top: 1831px;">
                    <div class="single-testimonial-style2 ">
                        <div class="top">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li>                                </ul>
                            </div>
                            <div class="date-box">
                                <p>September 19, 2022</p>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>I have utilized their services for over a year while mobilized for the Army Reserve. They are very responsive to communications as well as follow ...</p>
                        </div>
                        <div class="customer-info">
                            <div class="img-box">
                                <img width="50" height="50" src="/static/images/testimonial-6-50x50.jpg" class="attachment-finbank_50x50 size-finbank_50x50 wp-post-image" alt="" decoding="async" loading="lazy" srcset="/static/images/testimonial-6-50x50.jpg 50w, /static/images/testimonial-6.jpg 74w" sizes="(max-width: 50px) 100vw, 50px">                            </div>
                            <div class="title-box">
                                <h3>Sara Taylor</h3>
                                <span>Los Angeles</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Testimonial Style2-->
				                <!--Start Single Testimonial Style2-->
                <div class="col-xl-6 col-lg-6" style="position: absolute; left: 0px; top: 2166px;">
                    <div class="single-testimonial-style2 ">
                        <div class="top">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li>                                </ul>
                            </div>
                            <div class="date-box">
                                <p>September 19, 2022</p>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>They are very responsive to communications as well as follow through, and have made my baking experiences painless. Finbank has been outstanding in the services ...</p>
                        </div>
                        <div class="customer-info">
                            <div class="img-box">
                                <img width="50" height="50" src="/static/images/testimonial-7-50x50.jpg" class="attachment-finbank_50x50 size-finbank_50x50 wp-post-image" alt="" decoding="async" loading="lazy" srcset="/static/images/testimonial-7-50x50.jpg 50w, /static/images/testimonial-7.jpg 84w" sizes="(max-width: 50px) 100vw, 50px">                            </div>
                            <div class="title-box">
                                <h3>Sereena Williams</h3>
                                <span>California</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Testimonial Style2-->
				                <!--Start Single Testimonial Style2-->
                <div class="col-xl-6 col-lg-6" style="position: absolute; left: 0px; top: 2527px;">
                    <div class="single-testimonial-style2 bg-white">
                        <div class="top">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star-half-alt"></i></li>                                </ul>
                            </div>
                            <div class="date-box">
                                <p>September 19, 2022</p>
                            </div>
                        </div>
                        <div class="text-box">
                            <p>The experience with transitioning has been great. Everyone at the bank has been extremely accommodating. They make me feel that my business matters. I like ...</p>
                        </div>
                        <div class="customer-info">
                            <div class="img-box">
                                <img width="50" height="50" src="/static/images/team-6-50x50.jpg" class="attachment-finbank_50x50 size-finbank_50x50 wp-post-image" alt="" decoding="async" loading="lazy" srcset="/static/images/team-6-50x50.jpg 50w, /static/images/team-6-150x150.jpg 150w, /static/images/team-6-270x270.jpg 270w, /static/images/team-6-120x120.jpg 120w" sizes="(max-width: 50px) 100vw, 50px">                            </div>
                            <div class="title-box">
                                <h3>Roger Fedral</h3>
                                <span>Newyork</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Testimonial Style2-->
				            </div>
        </div>
    </section>
    <!--End Testimonial Style2 Area-->

        		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
		
	<div class="clearfix"></div>
{% endblock %}